.doc-footer {
  padding-bottom: var(--xl);

  & .button {
    font-size: 12px;
  }

  & .button-edit {
    margin-top: var(--md);

    @media (--lg) {
      display: none;
    }
  }
}

.section-helpful {
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  display: block;
  font-size: 14px;
  padding: var(--sm) var(--md) var(--md);

  @media (--md) {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: var(--xs);
    padding-top: var(--xs);
  }

  & .p {
    font-weight: var(--weight-bold);
    text-align: center;

    @media (--md) {
      text-align: left;
    }
  }

  & .p + .button,
  & .button + .button {
    @media (--md) {
      margin-left: var(--sm);
    }
  }
}
