.beta-banner {
  background: color-mod(var(--red-3) lightness(97%));
  border: 1px solid;
  border-color: color-mod(var(--red-3) lightness(75%));
  border-radius: 1px;
  display: block;
  padding: var(--md) var(--lg) var(--sm);
}
.beta-heading {
  color: rgb(166,38,59);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}
.beta-text {
  font-size: .9rem;
}
