.beta-banner {

  background: color-mod(var(--red-3) lightness(97%));
  border: 1px solid;
  border-color: color-mod(var(--red-3) lightness(75%));
  border-radius: 2px;
  display: block;
  padding: var(--md) var(--lg) var(--sm);

}

.beta-heading {
  font-size: 1.0rem;
  font-weight: bold;
  text-align: left;
  color: color-mod(var(--red-3) lightness(70%));
}
.beta-text {
  font-size: .9rem;
}
