<div class="beta-banner">
	<div class="beta-heading">Beta / Early Access Content</div>
	<div class="beta-text">The content provided on this website is intended for approved beta or early access customers only. It is provided as-is. Any of the beta or early access features described in this website should not be used in a production environment.</div>
</div>