<main class="main no-sidebar flex col container wrapper main-404" data-ceiling="topbar">
  <section class="flex col section-404">
    <h1>404</h1>
    <p>Uh oh, the page you’re looking for doesn’t exist.
    <footer>
      <a class="button" href="/">Go Home</a>
    </footer>
  </section>
  <section class="flex col section-suggestions">
    <p class="h6">QUICK START GUIDES</p>
    <div class="flex justify-justified ">
      <a class="flex col well" href="//developer.mulesoft.com/guides/quick-start/designing-your-first-api">
        <strong class="h6">Designing your first API</strong class="h6">
        <span>Learn about the benefits of starting with an API specification as well as the ways you can leverage the spec within Anypoint Platform.</span>
      </a>
      <a class="flex col well" href="//developer.mulesoft.com/guides/quick-start/deploying-and-managing-your-first-api">
        <strong class="h6">Deploying and managing your first API</strong class="h6">
        <span>Experience how you can deploy, manage, and analyze your applications quickly and easily with Anypoint Platform.</span>
      </a>
    </div>
    <p class="h6">FEATURED ARTICLES</p>
    <ul class="list-featured">
      <li class="li">
        <a class="link" href="//docs.mulesoft.com/design-center/design-create-publish-api-raml-editor">Create and Publish an API Specification in Design Center</a>
      <li class="li">
        <a class="link" href="//docs.mulesoft.com/design-center/design-example-raml-editor-spec">Example API Specification</a>
      <li class="li">
        <a class="link" href="//docs.mulesoft.com/release-notes/platform/anypoint-november-release">July and November Release: Release Notes</a>
      <li class="li">
        <a class="link" href="//docs.mulesoft.com/mule-runtime/4.1/index-migration">Mule 4 for Mule 3 users</a>
      <li class="li">
        <a class="link" href="//docs.mulesoft.com/monitoring/quick-start">Getting Started in Monitoring Center</a>
      <li class="li">
        <a class="link" href="//docs.mulesoft.com/runtime-manager/deployment-strategies">Deployment Strategies</a>
      <li class="li">
        <a class="link" href="//docs.mulesoft.com/api-manager/2.x/latest-tasks">Basic API Management Tasks</a>
    </ul>
  </section>
</main>
