{{!-- search wrapper used to position search icon --}}
<div class="flex align-center search">
  <input class="input" placeholder="Search docs" type="search">
</div>
{{> nav-tree navigation=page.navigation}}
