{{#if page.component}}
<div class="site-components">
<button class="components-menu-toggle" title="Show other components">{{page.component.title}}</button>
 <div class="components-menu">
    {{#each site.components}}
    <a href="{{@root.site.components.url}}">
      <span class="title">{{{./title}}}</span></a>
    {{/each}}
  </div>
</div>
{{/if}}