<div class="modal-backdrop"></div>
<div id="search" class="js-search-ui js-coveo CoveoSearchInterface">
  <div class="modal">
    <div class="CoveoSearchbox"></div>
    <div class="coveo-main-section">
      <div class="coveo-facet-column">
        <div class="CoveoFacet" data-title="Source" data-field="@source" data-tab="All"></div>
        <div class="CoveoFacet" data-title="Product" data-field="@product" data-number-of-values="10" data-enable-settings="false" data-enable-facet-search="false" data-enable-more-less="false"></div>
        <div class="CoveoFacet" data-title="Version" data-field="@version" data-number-of-values="5" data-enable-settings="false" data-enable-facet-search="false" data-enable-more-less="false"></div>
      </div>
      <div class="coveo-results-column">
        <div class="coveo-results-header">
          <div class="coveo-summary-section">
            <span class="CoveoQuerySummary"></span>
          </div>
        </div>
        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean"></div>
        <div class="CoveoErrorReport"></div>
        <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true"></div>
        <div class="CoveoPager"</div>
      </div>
    </div>
  </div>
</div>
