aside.toc.sidebar {
  display: none;
  flex: none;
  /* NOTE lock flex width to width of container */
  width: var(--width-toc);
}

@media screen and (min-width: 1200px) {
  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    display: block;
  }
}
