.nav-list a.nav-link {
  color: var(--color-text);
  display: block;
  text-decoration: none;
}

.nav-list a.nav-link:focus,
.nav-list a.nav-link:hover {
  color: var(--color-link);
}

.nav-list .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list > .nav-list {
  padding: 1rem .5rem 1rem .75rem;
}

.nav-list .nav-li:not(.is-active) > .nav-list {
  /* display: none; */
}

.nav-list .nav-li.is-current-page > .nav-line > a.nav-link {
  color: var(--color-text);
  font-weight: var(--weight-medium);
}

.nav-list .nav-toggle {
  border: 0;
  background: none;
  padding: 0;
  position: absolute;
  margin-left: -1.25em;
  width: 1.25em;
  color: var(--color-border);
  transform: scale(1.25);
}

.nav-list .nav-toggle::before {
  content: "+";
}

.nav-list .nav-li.is-active > .nav-line > .nav-toggle::before {
  content: "-";
}

/* mobile menu */
html.is-clipped--nav {
  overflow-y: hidden;
}

.nav.is-active {
  visibility: visible;
}

.nav.is-active .nav-list {
  transform: translateX(0);
  transition: transform .2s;
}

.nav-control {
  border: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  background: url(../img/menu.svg) no-repeat center;
  background-size: 75%;
}

@media screen and (min-width: 769px) {
  .nav-control {
    display: none;
  }
}
